<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col mx-auto">
      <h1 class="fw-light">Масло</h1>
      <p class="lead text-muted">
        Суть ее в том, что нижние слои картины выполняются сильно разбавленными красками,
        затем накладываются слои в примерно равной комбинации растворителя и масла,
        постепенно двигаясь к более жирным слоям с использованием красок с большим содержанием масла,
        они и составят верхнее покрытие полотна.
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <app-post></app-post>
      </div>
    </div>
  </div>
</div>


