<div class="container">
  <div class="form-signin">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">Имя</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">Фамилия</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
        </div>

        <div class="col-12">
          <label for="username" class="form-label">Логин</label>
          <div class="input-group has-validation">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" id="username" placeholder="Username" required>
            <div class="invalid-feedback">
              Данный логин занят
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Пожалуйста введите корректный Email!
          </div>
        </div>

        <div class="col-12">
          <label for="email" class="form-label">Пароль</label>
          <input type="password" class="form-control" id="password" placeholder="********">
          <div class="invalid-feedback">
            Пожалуйста введите сложный пароль!
          </div>
        </div>

      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="same-address">
        <label class="form-check-label" for="same-address">Я согласен с условиями</label>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn" style="background: #DFBED8">Создать аккаунт!</button>
      </div>
    </form>
  </div>
</div>
