<div class="position-sticky pt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#users">
        <span data-feather="home"></span>
        Users
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#users-role">
        <span data-feather="file"></span>
        Users Role
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#posted">
        <span data-feather="shopping-cart"></span>
        Posted
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#comments">
        <span data-feather="users"></span>
        Comments
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#category">
        <span data-feather="bar-chart-2"></span>
        Category
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tags">
        <span data-feather="layers"></span>
        Tags
      </a>
    </li>
  </ul>
</div>
