<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <h1 style="color: #DEAFAD">{{title}}</h1>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/feed" class="nav-link px-2 link-dark">Главная</a></li>
        <li><a routerLink="/feed/newpost" class="nav-link px-2 link-dark">Добавить пост</a></li>
      </ul>
      <app-search></app-search>
      <div class="text-end">
        <app-user-dropdown></app-user-dropdown>
        <!--        <a class="btn btn-light me-2" routerLink="/login">Войти</a>-->
        <!--        <a class="btn" style="background-color: #DFBED8" routerLink="/register">Создать Аккаунт</a>-->
      </div>
    </div>
  </div>
</header>

