<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }


  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<main class="text-center form-signin">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
<!--    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
<!--    <h1 class="h1 mb-1 fw-normal">artree</h1>-->
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      >
      <label for="floatingInput">Email address</label>
      <!--    <span class="helper-text red-text" *ngIf="form.get('email').invalid && form.get('email').touched">-->
      <!--      <span *ngIf="form.get('email').errors['required']"> Email не должен быть пустым </span>-->
      <!--      <span *ngIf="form.get('email').errors['email']"> Введите корректный Email адресс </span>-->
      <!--    </span>-->
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
      >
      <label for="floatingPassword">Password</label>
      <!--    <span class="helper-text red-text" *ngIf="form.get('password').invalid && form.get('password').touched">-->
      <!--      <span *ngIf="form.get('password').errors['required']"> Пароль не должен быть пустым </span>-->
      <!--      <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']"> Введите пароль больше {{form.get('password').errors['minlength']['requiredLength']}} символов.-->
      <!--        Сейчас {{form.get('password').errors['minlength']['actualLength']}} </span>-->
      <!--    </span>-->
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" [disabled]="form.invalid"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="form.invalid">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022–2022</p>
  </form>
</main>

