<header class="py-5 bg-image-full" style="background-image: url('https://i.pinimg.com/originals/50/d0/94/50d094ba435aa6b46c655bc366a43471.jpg')">
  <div class="text-center my-5">
    <img class="img-fluid rounded-circle mb-4" style="height: 150px" src="https://sun9-61.userapi.com/s/v1/ig2/j3Q5EAhfLmwY67YhqHkGnv4Je6M-BvoKI2TtZPEMUkUPe7kmDOJz0yl6QNKXfQ28CEol1q0nZfFwajCkkBPrNiQE.jpg?size=1080x1080&quality=96&type=album" alt="..." />
    <h1 class="text-white fs-3 fw-bolder">lusids</h1>
    <p class="text-white mb-0">Просто ищу красивое</p>
  </div>
</header>

<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">

      <div class="col-lg-6">
        <h2>Лена Сорокина</h2>
        <p class="lead">Либо художник, либо неудачник-программист</p>
        <p class="mb-0">Привет, я тут занимаюсь тем что выставляю свои работы в ленту. Надеюсь вам понравится :)</p>
      </div>
    </div>
  </div>
</section>

<hr class="container featurette-divider"/>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <app-post></app-post>
      </div>
      <div class="col">
        <app-post></app-post>
      </div>
    </div>
  </div>
</div>
