<div class="py-5 bg-image-full" style="background: url('https://i.pinimg.com/564x/80/7c/11/807c1188a423b7c1431815d9e543cda0.jpg')">
  <div style="height: 20rem"></div>
</div>
<hr class="featurette-divider"/>
<div class="container marketing">
  <div class="row">
    <div class="marketing col-lg-4">
      <app-category></app-category>
    </div>
    <div class="marketing col-lg-4">
      <app-category></app-category>
    </div>
    <div class="marketing col-lg-4">
      <app-category></app-category>
    </div>
  </div>
  <hr class="featurette-divider"/>
</div>
